.learnTitleSpan,
.learnDes,
.startLink {
  font-size: var(--font-size-extrasm);
}

.learnTitleSpan {
  color: rgba(177, 177, 177, 1);
}

.learnTitle {
  font-weight: var(--font-weight-extrabold);
}

.learnTitleSpan,
.learnDes {
  font-weight: var(--font-weight-normal);
}

.learnTitle {
  font-size: var(--font-size-normal);
}

.cardTitle,
.startLink {
  font-weight: var(--font-weight-bold);
}

.cardTitle {
  font-size: var(--font-size-big);
  color: var(--color-black);
}

.dashboardMain {
  margin-block-start: 2.5em;
  display: flex;
  gap: 2em;
}
.lessonWrapper,
.card {
  flex: 1;
}

.learnCard,
.communityCard {
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-background-color);
}

.learnCard,
.communityCard,
.card {
  border-radius: 8px;
}

.lessonWrapper,
.communityCard,
.learnGrid {
  margin-block-start: 1.56em;
}

.cardTitle,
.communityTitle {
  font-size: var(--font-size-big);
}

.card {
  padding: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.community {
  width: 300px;
}

.communityCard {
  height: 783px;
}

.learnWrap {
  margin-top: 3rem;
}

.learnGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370.5px, 1fr));
  gap: 1rem;
}

.learnCard {
  padding: 1rem;
  display: flex;
  background-image: url(../assets/images/card-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  margin-inline-start: auto;
}

.learnCardInfo {
  display: flex;
  flex-direction: column;
}

.learnDes {
  margin-block: 0.75em 2.5em;
}

.startLink {
  text-decoration: none;
  color: var(--primary-background-color);
  margin-block-start: auto;
  margin-block-end: 0.8em;
}

.startLink:hover,
.startLink:focus {
  cursor: pointer;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .dashboardMain {
    flex-direction: column;
  }

  .learnCard {
    height: 124px;
  }

  .cardTitle,
  .learnTitle {
    font-size: var(--font-size-small);
  }

  .learnTitleSpan,
  .learnDes {
    font-size: 0.625rem;
  }

  img {
    width: 63px;
    height: 88px;
  }

  .community {
    width: 100%;
  }

  .communityCard {
    height: 200px;
  }


}
