.avatar {
  width: 116px;
  height: 116px;
  border-radius: 50%;
  object-fit: cover;
}

.userName {
  font-size: var(--font-size-med);
  font-weight: var(--font-weight-bold);
}

.editBtn,
.userEmail {
  font-weight: var(--font-weight-normal);
}

.userEmail,
.lessonSectionTitle,
.title {
  font-size: var(--font-size-normal);
}

.lessonSectionTitle,
.title,
.lessonTitle {
  font-weight: var(--font-weight-extrabold);
}

.editBtn,
.info,
.lessonTitle {
  font-size: var(--font-size-small);
}

.info {
  color: var(--primary-color);
}

.userName,
.userEmail,
.title {
  color: var(--tertiary-color);
}

.lessonTitle {
  color: var(--color-black);
}

.editBtn,
.card {
  background-color: var(--secondary-background-color);
}

.card,
.editBtn,
.lessonCard {
  border-radius: 8px;
}

.card {
  margin-block-start: 3rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-block-end: 1.5rem;
}

.userInfo p {
  margin-block-start: 0.5em;
}

.details {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.details div {
  flex: 1;
}

.details p {
  margin-block-start: 0.7em;
}

.profileLesson {
  margin-block: 3.9em 0.8em;
}

.editBtn {
  display: block;
  width: 103px;
  height: 35px;
  margin-left: auto;
  color: var(--color-blue);
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-blue);
  transition: background-color 250ms ease;
}

.editBtn:hover,
.editBtn:focus {
  cursor: pointer;
  background-color: rgba(39, 69, 132, 1);
  color: var(--secondary-color);
}

.lessons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.lessonSectionTitle {
  margin-block-end: 1rem;
}

.lessonCard {
  flex: 0 1 400px;
  padding: 1.2rem;
  border: 0.5px solid var(--color-blue);
}

.progressBar {
  border-radius: 1rem;
  height: 9px;
  margin-block-start: 0.5em;
}
.progress {
  height: 100%;
  border-radius: 20px;
}

.blueProgress {
  background-color: rgba(6, 123, 194, 1);
}
.purpleProgress {
  background-color: rgba(122, 40, 203, 1);
}
.greenProgress {
  background-color: rgba(0, 176, 54, 1);
}
.blueBorder {
  border: 0.5px solid rgba(6, 123, 194, 1);
}
.purpleBorder {
  border: 0.5px solid rgba(122, 40, 203, 1);
}
.greenBorder {
  border: 0.5px solid rgba(0, 176, 54, 1);
}

@media (max-width: 768px) {
  .details {
    flex-direction: column;
    gap: 1em;
  }

  .details div {
    width: 100%;
  }

  .userInfo {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
  }

  .lessons {
    flex-direction: column;
  }

  .lessonCard {
    flex: 1 1 100%;
  }
}
