.backWrap {
  margin-block-start: 2.5em;
  cursor: pointer;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.accountForm {
  max-width: 288px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.backWrap {
  display: flex;
  gap: 0.7em;
}

.formTitle {
  font-size: var(--font-size-small);
  text-align: center;
  margin-block: 3em 3.43em;
}

label,
.formTitle,
.backWrap p,
.link {
  font-weight: var(--font-weight-bold);
}

.backWrap p,
.span,
.termsLink {
  font-size: var(--font-size-normal);
}

.termsText {
  color: rgba(132, 134, 140, 1);
}

label,
.span,
.link,
.divider,
.termsLink,
.termsText {
  font-size: var(--font-size-extrasm);
}

.termsLink {
  color: var(--primary-color);
}

.link,
.signUp,
.login, .span > a {
  color: var(--color-blue);
}

.span,
.divider,
.termsLink {
  font-weight: var(--font-weight-normal);
}

.divider {
  font-style: italic;
  margin: 1em 0;
}

.divider,
.spanAlign {
  text-align: center;
}


.signUp,
.login,
.termsText {
  font-weight: 300;
}

.link,
.termsLink,
.span > a {
  text-decoration: none;
}

.termsLink,
.span > a {
  margin-inline-start: 0.3em;
}

.link {
  text-align: end;
  margin-block-end: 3.5em;
}

.inputWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

input,
select {
  padding: 12px;
  border: 0.5px solid var(--primary-color);
  border-radius: 8px;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--primary-background-color);
}

.cta {
  background-color: var(--secondary-background-color);
  border: 1px solid var(--primary-background-color);
  color: var(--primary-background-color);
}

input[type="password"] {
  width: 100%;
}

.passwordWrap {
  width: 100%;
  position: relative;
}

.eyeIcon {
  position: absolute;
  right: 8px;
  bottom: 10px;
}

.loginBtn,
.signUpBtn {
  display: flex;
  align-items: center;
  gap: 0.7em;
  justify-content: center;
}

.confirmBtn {
  margin-block-start: 2em;
}

.termsCheckbox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.4em;
  margin-block-end: 2.5em;
}

.otpContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.otpInput {
  flex: 1;
  min-width: 0;
  height: 48px;
  height: 48px;
  border: 0.5px solid var(--primary-color);
  border-radius: 8px;
}

@media (max-width: 768px) {
  .backWrap p {
    display: none;
  }
}
