.headerWrapper {
  position: relative;
}

.notificationContent {
  font-style: unset;
  font-size: var(--font-size-med);
  position: absolute;
  top: -33px;
  right: 0;
  display: flex;
  align-items: center;
  gap: 1em;
}

.tabs {
  margin: 1.9em 0 0;
  display: flex;
  gap: 1.3em;
}

.tabs a {
  width: 126px;
  text-align: center;
  background: none;
  padding: 0.65em;
  font-family: "Figtree", sans-serif;
  cursor: pointer;
}
.tabs a {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-extrasm);
}

.activeTab,
.tabs a:hover,
.tabs a:focus {
  border-bottom: 1px solid var(--primary-background-color);
  color: var(--primary-background-color);
}

.lessonsList {
  margin-block-start: 1.8em;
}

.blue {
  background-color: rgba(6, 123, 194, 1);
}

.purple {
  background-color: rgba(122, 40, 203, 1);
}
