.dashboardWrapper {
  padding: 1em;
  display: flex;
  min-height: 100vh;
  gap: 1.5em;
  background-color: var(--wrapper-background-color);
}

.dashboardContent {
  flex: 1;
  min-width: 0;
}

@media screen and (max-width: 768px) {
.dashboardWrapper {
    flex-direction: column;
    padding: 1rem 0.5rem;
  }}
  