.sidebar {
  width: 268px;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0 2rem 1rem;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  height: 1024px;
}

.logo,
.subtext {
  text-align: center;
  font-weight: var(--font-weight-normal);
  color: var(--tertiary-color);
}

.label {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-extrabold);
}

.subtext,
.logout {
  font-size: var(--font-size-normal);
}

.logo {
  font-family: "Alfa Slab One", serif;
  font-size: var(--font-size-extrabig);
  line-height: 100%;
}

.subtext {
  font-family: "Amita", serif;
  text-align: center;
  margin-block-start: 0.7em;
}

.logout,
.label {
  font-weight: var(--font-weight-bold);
}

.navLink,
.logoutContainer,
.icon {
  display: flex;
  align-items: center;
}

.navLink,
.logoutContainer {
  gap: 0.7em;
}

nav {
  margin-block: 5.8em auto;
}

.navList {
  list-style: none;
}

.navList li {
  padding: 1rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-block-end: 0.5rem;
  cursor: pointer;
}

.navLink {
  text-decoration: none;
  color: var(--secondary-color);
}

.navLink.activeLink {
  color: var(--secondary-color);
}

.activeListItem {
  background-color: var(--primary-background-color);
}

.navLink.inactiveLink {
  color: var(--primary-color);
}

.inactiveListItem:hover,
.inactiveListItem:focus {
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

.navList li .inactiveLink:hover .icon,
.navList li .inactiveLink:focus .icon {
  transform: scale(1.2);
  transition: transform 250ms ease;
}

.logout {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

.logoutContainer:hover,
.logoutContainer:focus {
  color: var(--secondary-color);
  transform: scale(1.05);
}

.closeBtn {
  display: none;
}

@media (max-width: 800px) {
  .sidebar {
    position: absolute;
    background-color: var(--primary-background-color);
    border-radius: 0;
    padding: 1rem;
    top: 0;
    left: 0;
    z-index: 100;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .open {
    transform: translateX(0);
  }

  .logo {
    font-size: var(--font-size-big);
  }

  .logout {
    font-size: var(--font-size-med);
  }

  .label {
    font-size: var(--font-size-normal);
  }

  .label,
  .logo,
  .subtext,
  .logout,
  .closeBtn {
    color: var(--secondary-color);
  }

  .closeBtn {
    display: block;
    background: none;
    border: none;
    font-size: 4em;
    margin-block-end: 2rem;
    cursor: pointer;
  }

  .activeLink .label {
    color: var(--primary-color);
  }

  .activeListItem {
    background-color: var(--secondary-background-color);
  }

  .activeLink .icon path {
    stroke: var(--primary-color);
  }

  .inactiveLink .icon path {
    stroke: var(--secondary-color);
  }

  .logoutContainer svg path {
    stroke: var(--secondary-color);
  }

  .logoutContainer {
    margin: auto;
  }

  .inactiveListItem:hover,
  .inactiveListItem:focus {
    border: 1px solid var(--secondary-color);
  }
}
